$bg-color: #f9f7f1;

$header-height: 70px;
$header-b-border: 2px solid #555;

$hover-color: #cc493d;

$content-width: 1250px;
$article-width: 800px;

$main-padding: 20px 0;
$article-padding: 30px 0;

$logo-size: 28px;

$nav-size: 18px;

$font-color: #000;
